h1.carousel-caption {
   margin-top: -100px;;
   left: 16px;
   font-size: 3em;
   font-family: 'Perpetua', Times, serif;
 }

 section.store-block-container {
   display: flex;
   justify-content: center;
   height: 125px;
   margin-bottom: 80px;
 }

 
section.content-container {
   max-width: 100%;
   min-width: 850px;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .content-block {
   height: 100%;
   width: 100%;
   margin-bottom: 20px;
   padding-inline: 12.5%;
   padding-block: 10px;
   display: flex;
   justify-content: center;
   text-align: center;
 }
 
 img.company-info-photo {
   object-fit: cover;
   width: 50%;
   margin-right: 20px;
   border-radius: 2%;
 }
 
 .content-block h2 {
   font-size: 2.5em;
   margin-top: 10px;
   text-decoration: none;
   font-weight: bold;
   text-align: center;
 }
 
 .company-info-link {
   margin-left: 50px;
   font-size: 1.75em;
   text-decoration: none;
   color: white;
   font-weight: bold;
 }
 
 article.content-block p {
   font-size: 1.25em;
 }

 article.content-block.forest-green {
   background-color: rgb(95, 137, 95);
   padding-inline: 2%;
   margin-bottom: 0px;
   color: white;
 }
 
 div.company-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 
 .quick-links-container {
   display: flex;
   justify-content: center;
 }
 
 .quick-link {
   height: 100%;
   width: 40%;
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   text-decoration: none;
 }
 
 .quick-link-image {
   height: 100%;
   width: 100%;
   object-fit: contain;
 }
 
 .quick-link-caption {
   position: absolute;
   margin-top: 160px;
   color: white;
   font-size: 1.25em;
   background-color: #808080;
   padding-inline: 10px;
   opacity: 0.80;
   
 }